@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// Logo

header{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    
    .menu-burger{
        display: none;
    }

    .header-logo{
        width: 30%;
        img{
            width: 60%;
        }
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center; 
       
        ul{
            display: flex;
            gap: 50px;
            
            li{
                list-style: none;

                a{
                    color: var.$couleur-gold;
                    font-family: var.$police-principale;
                    transition: all 0.3s ease;
                    display: block;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 2rem;
                }
                a:hover{
                    text-decoration: underline;
                    color: var.$couleur-gold;
                }
            }
        }
    }
    
}