@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// --------------PAGE ACCUEIL-----------------


// SECTION HERO
.hero{
    // background: linear-gradient(135deg, #4B1C71, #E83E8C, #FF8C42);
    background-color: rgba(121, 18, 104, 0.5);
    border-radius: 15px;
    padding: 40px;
    margin-top: 8%;
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.5);

    h1{
        text-align: center;
    }

    p{
        font-size: 2rem;
        text-align: center;
        color: var.$couleur-principale;
    }
}

// SECTION CARD
.card-accueil{
    margin-bottom: 10%;
    border-radius: 15px;
   
}

.card-accueil h2{
    margin-top: 15%;
    color: var.$couleur-gold;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-content{
            width: 40%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
            padding-bottom: 5%;
            text-align: center;
            background-color: #0F0F14;
            transition: all 0.3s ease;
        }

.card-content:hover{
    box-shadow: 2px 5px 20px rgba(245, 194, 107, 0.7);
}

    .card-img{        
            img{
                width: 100%;
                height: 30vh;
                margin: 20px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                margin: auto;
            }
    }


// ----------PAGE GALERIE DE THEMES-----------------

.alert-success{
    color: #E83E8C;
    text-align: center;
}

.galerie{
    margin-top: 10%;
    margin-bottom: 10%;
    
    .galerie-text{
        // background: linear-gradient(135deg, #4B1C71, #E83E8C);
        background-color: rgba(0,0,0,0.4);
        box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
        border-radius: 15px;
        padding: 50px;
        margin-bottom: 5%;
        // position: static;
    }
}

.galerie p{
    color: white;
    text-align: center;
    // z-index: 1;
    // position: static;
    font-size: 2rem;
}
.galerie-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 10%;

    .galerie-content{
        width: 40%;
        max-height: 90vh;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 1.5rem;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
        padding-bottom: 5%;
        text-align: center;
        background-color: #0F0F14;
        transition: all 0.3s ease;

        .color{
            color: #4B1C71;
        }
        span{
            color: var.$couleur-orange;
        }
    }

    .galerie-content p{
        color: var.$couleur-principale;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 30px;
    }
    .galerie-content h3{
        text-align: center;
    }
    .galerie-img img{
        width: 100%;
        height: 30vh;
        margin: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: auto;
    }
    
}





