@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

// --------------PAGE ACCUEIL-----------------


// SECTION HERO
.hero{
    // background: linear-gradient(135deg, #4B1C71, #E83E8C, #FF8C42);
    background-color: rgba(121, 18, 104, 0.5);
    border-radius: 15px;
    padding: 40px;
    margin-top: 8%;
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.5);

    h1{
        text-align: center;
    }

    p{
        font-size: 2rem;
        text-align: center;
        color: var.$couleur-principale;
    }
}

// SECTION CARD
.card-accueil{
    margin-bottom: 10%;
    border-radius: 15px;
   
}

.card-accueil h2{
    margin-top: 15%;
    color: var.$couleur-gold;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card-content{
            width: 40%;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 1.5rem;
            border-radius: 15px;
            box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
            padding-bottom: 5%;
            text-align: center;
            background-color: #0F0F14;
            transition: all 0.3s ease;
        }

.card-content:hover{
    box-shadow: 2px 5px 20px rgba(245, 194, 107, 0.7);
}

    .card-img{        
            img{
                width: 100%;
                height: 30vh;
                margin: 20px;
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                margin: auto;
            }
    }


// ----------PAGE GALERIE DE THEMES-----------------

// Message d'alerte
.alert-success{
    color: #E83E8C;
    text-align: center;
    margin-top: 5%;
    font-size: 2rem;
}

.galerie{
    margin-top: 10%;
    margin-bottom: 10%;
    
    .galerie-text{
        background-color: rgba(0,0,0,0.4);
        box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
        border-radius: 15px;
        padding: 50px;
        margin-bottom: 5%;
        // position: static;
    }
}

.galerie p{
    color: white;
    text-align: center;
    // z-index: 1;
    // position: static;
    font-size: 2rem;
}
.galerie-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 10%;

    .galerie-content{
        width: 40%;
        max-height: 100vh;
        margin-top: 20px;
        margin-bottom: 5%;
        font-size: 1.5rem;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
        padding-bottom: 5%;
        text-align: center;
        background-color: #0F0F14;
        transition: all 0.3s ease;

        .color{
            color: #4B1C71;
        }
        span{
            color: var.$couleur-orange;
        }
    }

    .galerie-content p{
        color: var.$couleur-principale;
        text-align: center;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 30px;
    }
    .galerie-content h3{
        text-align: center;
    }
    .galerie-img img{
        width: 100%;
        height: 30vh;
        margin: 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin: auto;
    }
}

// ----------PAGE DU THEME-----------------

.theme{
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.theme-content{
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    padding-bottom: 5%;
    text-align: center;
    background-color: #0F0F14;
    padding: 30px;

    span{
            color: var.$couleur-orange;
        }
}
.theme-content p{
    color: var.$couleur-principale;
    font-size: 1.3rem;
    line-height: 1.3;
}

.theme-img{ 
    img{
        width: 100%;
        height: 50vh;
        margin: 20px;
        border-radius: 15px;
        margin: auto;
    }
}

.theme-comment{
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    border-radius: 15px;
    width: 40%;
    padding: 30px;
}

.commentaire-area{
    padding: 30px;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    border: 1px solid #E83E8C;
    width: 80%;
}

// ----------PAGE LOGIN-----------------
.connect{
    text-align: center;
    color: var.$couleur-rose;
    font-size: 2rem;
    margin-top: 3%;    
}

.mb-3{
    text-align: center;
    color: var.$couleur-principale;     
}

.login{
    text-align: center;
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    border-radius: 15px;
    width: 40%;
    padding: 30px 50px;
    justify-self: center;
    margin-bottom: 10%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    input{
        width: 70%;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #E83E8C;
        align-self: center;
    }
}

// --------------PAGE REGISTER----------------------

.register h2{
    text-align: center;
    margin-top: 8%;
    margin-bottom: 5%;
}

.form-register{
    text-align: center;
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    border-radius: 15px;
    width: 60%;
    padding: 30px 50px;
    justify-self: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

// --------------PAGE CONTACT----------------------
.contact h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    line-height: 1.5;
}

.contact h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var.$couleur-principale;
}

.form-contact{
    text-align: center;
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    border-radius: 15px;
    width: 60%;
    padding: 30px 50px;
    justify-self: center;
    margin-bottom: 10%;
    margin-top: 5%;     
}

.contact-area{
    padding: 30px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-self: center;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #E83E8C;
}

.contact-label{
    margin-top: 10px;
    margin-bottom: 10px;
}

// --------------PAGE CREATE THEME----------------------
.form-add{
    text-align: center;
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    border-radius: 15px;
    width: 60%;
    padding: 30px 50px;
    justify-self: center;
    margin-bottom: 10%;
    margin-top: 5%; 
}

.form-create h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.form-add h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var.$couleur-principale;
    letter-spacing: 0.1rem;
    background-color: rgba(121, 18, 104, 0.7);
    border-radius: 15px;
}
.add-img{
    padding: 20px;
    display: none;
}
.add-theme{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

label[for="theme_imageFile"]{
    background-image: url(../../../img/boule_disco.png);
    background-position: center;
    background-size: cover;
    display: block;
    text-align: center;
    // background-color: rgba(91, 14, 95, 0.353);
    width: 50px;
    height: 10px;
    padding: 70px;
    margin: 20px auto;
    position: relative;
    &::after{
        content: to-upper-case($string: "Charger votre image ici");
        font-weight: 700;
        position: absolute;
        right: 10px;
        bottom: 20px;
        color: var.$couleur-purple;
        cursor: pointer;
    }
}

.add-theme-area{
    padding: 30px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    justify-self: center;
    width: 80%;
    border-radius: 10px;
    border: 1px solid #E83E8C;
}

.add-color{
    display: grid;
    grid-template-columns: 20% 20%;
    justify-self: center;
    gap: 10px;

    label{
        margin: auto;
        color: var.$couleur-principale;
    }
}

// --------------PAGE MODIFIER----------------------

.form-modif{
    text-align: center;
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    box-shadow: 0 10px 30px rgba(245, 194, 107, 0.2);
    border-radius: 15px;
    width: 60%;
    padding: 30px 50px;
    justify-self: center;
    margin-bottom: 10%;
    margin-top: 5%; 
}

.form-update h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.form-modif h3{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var.$couleur-principale;
    letter-spacing: 0.1rem;
    background-color: rgba(121, 18, 104, 0.7);
    border-radius: 15px;
}

