{% extends 'base.html.twig' %}

{% block title %}Hello ResetPasswordController!{% endblock %}

{% block body %}
<section class="container">
        <div class="reset">
            <h3>Réinitialiser votre mot de passe</h3>
            <div class="form-reset">
                {{form_start(resetForm)}}
                    {{form_widget(resetForm)}}
                    <button class="btn-reset">Réinitialiser</button>
                {{form_end(resetForm)}}
            </div>
        </div>
</section>

{% endblock %}
