@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;


// -----------------PAGE ACCUEIL---------------------------
.btn-create{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    font-family: var.$police-secondaire;
    font-size: 2.5rem;
    margin-bottom: 5%;
    margin-top: 7%;
    display: block;
    text-align: center;
    justify-self: center;
    background: linear-gradient(135deg, #E83E8C, #FF8C42);
    color: #4B1C71;
    // border: 2px solid rgba(245, 194, 107, 0.5);
}

.btn-create:hover{  
    box-shadow: 2px 5px 20px rgba(245, 194, 107, 0.7);
}

.btn-plus{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
}

.btn-plus:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

//--------------- PAGE THEMES----------------------------------
.btn-add{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 2rem;
}

.btn-add:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

.btn-modif{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color:black;
    font-size: 2rem;
    background-color: #E83E8C;
    width: 50%;
}

.btn-modif:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

.btn-sup{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 2rem;
    background-color: transparent;
    width: 50%;
}

.btn-sup:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

.btn-comment{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 5%;
    margin-bottom: 3%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
}

.btn-comment:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

// ---------- PAGE LOGIN - LOGOUT -------------------
.btn-logout{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 20px;
    margin-bottom: 3%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
}

.btn-logout:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

.btn-primary{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
    width: 40%;
}

.btn-primary:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

// ---------- PAGE REGISTER -------------------
.btn-register{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
    width: 40%;
}

.btn-register:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

// ---------- PAGE CONTACT -------------------
.btn-send{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
    width: 40%;
}

.btn-send:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

// ---------- PAGE MODIFIER/UPDATE -------------------
.btn-update{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
    width: 40%;
}

.btn-update:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

// ---------- PAGE MOT DE PASSE OUBLIE/RESET -------------------
.btn-forgot{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
    width: 40%;
}

.btn-forgot:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}

// ---------- PAGE MOT DE PASSE OUBLIE -------------------
.btn-reset{
    @include mix.button;
    transition: all 0.3s ease;
    text-decoration: none;
    display: block;
    text-align: center;
    justify-self: center;
    margin-top: 10%;
    margin-bottom: 5%;
    border: 2px solid var.$couleur-rose;
    font-family: var.$police-secondaire;
    color: #E83E8C;
    font-size: 1.5rem;
    width: 40%;
}

.btn-reset:hover{  
    box-shadow: 2px 5px 20px var.$couleur-rose;
}


// BADGE
// .badge{
//     display: inline-flex;
//     align-items: center;
//     gap: 6px;
//     padding: 6px 15px;
//     border-radius: 100px;
//     font-family: var.$police-principale;
//     font-size: 1rem;
//     font-weight: 600;
//     letter-spacing: 0.05em;
//     text-transform: uppercase;
//     color: #FFFFFF;
//     margin-top: 20px;
//     margin-bottom: 30px;
// }
// .badge-disco{
//     background: linear-gradient(135deg, #E83E8C, #4B1C71);
//     box-shadow: 0 0 10px rgba(232, 62, 140, 0.6);
// }

