{% extends 'base.html.twig' %}

{% block title %}Hello AddThemeController!{% endblock %}

{% block body %}
<div class="container form-add">
    <h2>Créer votre article</h2>

    {{form_start(themeform)}}

        {{form_widget(themeform)}}
            <button class="btn-add">Créer le thème</button>

    {{form_end(themeform)}}
</div>  
{% endblock %}
