$couleur-principale : #F7F5F2;
$couleur-secondaire : #0F0F14;
$couleur-gold : #F5C26B;
$couleur-orange : #FF8C42;
$couleur-rose : #E83E8C;
$couleur-purple : #4B1C71;

$police-principale:"Montserrat",sans-serif;
$police-secondaire:"Pacifico",sans-serif;