@use "../abstracts/variables" as var;

body {
    font-family: var.$police-principale;
    margin: 0;
    background-image: url(../../../img/bg.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 3.5rem;
    color: var.$couleur-gold;
    font-family: var.$police-secondaire;
    letter-spacing: 0.3rem;
    text-transform:capitalize;
}

h2{
    font-family: var.$police-principale;
    font-weight: 700;
    font-size: 3rem;
    color: var.$couleur-gold;
    text-align: center;
    margin-top: 5px;
}

h3{
    font-family: var.$police-secondaire;
    color: var.$couleur-rose;
    font-size: 2.8rem;
}
h4{
    font-family: var.$police-secondaire;
    color: var.$couleur-principale;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}
