@use "../abstracts/variables" as var;

body {
    font-family: var.$police-principale;
    margin: 0;
    background-image: url(../../../img/bg.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 3.5rem;
    color: var.$couleur-gold;
    font-family: var.$police-secondaire;
}

h2{
    font-family: var.$police-principale;
    font-weight: 700;
    font-size: 3rem;
    color: var.$couleur-gold;
    text-align: center;
}

h3{
    font-family: var.$police-secondaire;
    color: var.$couleur-orange;
    font-size: 2.5rem;
}

p{
    color: var.$couleur-secondaire;
}