@use "../abstracts/variables" as var;

body {
    font-family: var.$police-principale;
    margin: 0;
}

h1{
    font-size: 3.5rem;
    color: var.$couleur-gold;
    font-family: var.$police-secondaire;
}

h2{
    font-family: var.$police-secondaire;
    font-size: 3rem;
    color: var.$couleur-gold;
}
p{
    color: var.$couleur-principale;
}