@font-face {
    font-family: "Montserrat";
    src: url(../../../fonts/Montserrat/static/Montserrat-Regular.ttf);
    
    font-family: "Pacifico";
    src: url(../../../fonts/Pacifico/Pacifico-Regular.ttf);
}